@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

@layer base {
    :root {
        --background: var(--tg-theme-bg-color, #f2f2f2);
        --foreground: var(--tg-theme-text-color, #020817);
        --card: var(--tg-theme-secondary-bg-color, #ffffff);
        --card-foreground: var(--tg-theme-text-color, #020817);
        --popover: var(--tg-theme-bg-color, #f2f2f2);
        --popover-foreground: var(--tg-theme-text-color, #020817);
        --primary: var(--tg-theme-button-color, #0f172a);
        --primary-foreground: var(--tg-theme-button-text-color, #f8fafc);
        --secondary: var(--tg-theme-secondary-bg-color, #ffffff);
        --secondary-foreground: var(--tg-theme-text-color, #020817);
        --muted: var(--tg-theme-hint-color, #f1f5f9);
        --muted-foreground: var(--tg-theme-bg-color, #64748b);
        --accent: var(--tg-theme-accent-text-color, #f1f5f9);
        --accent-foreground: var(--tg-theme-bg-color, #684cfb);
        --destructive: var(--tg-theme-destructive-text-color, #ef4444);
        --destructive-foreground: var(--tg-theme-bg-color, #f8fafc);
        --border: var(--tg-theme-section-separator-color, #e2e8f0);
        --sm-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        --card-gradient: none
    }
    body {
        background-color: #E3FDF5;
        background: linear-gradient(35deg, rgba(227, 253, 245, 1), rgba(255, 230, 250, 1));
    }    
}

 /* TODO: Refactor needed to use the :dark tailwind-selector. */
@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--tg-theme-bg-color, #1c1c1c);
        --foreground: var(--tg-theme-text-color, #e5e5e5);
        --card: var(--tg-theme-secondary-bg-color, #282831);
        --card-foreground: var(--tg-theme-text-color, #e5e5e5);
        --popover: var(--tg-theme-bg-color, #2a2a2a);
        --popover-foreground: var(--tg-theme-text-color, #e5e5e5);
        --primary: var(--tg-theme-button-color, #3b82f6);
        --primary-foreground: var(--tg-theme-button-text-color, #ffffff);
        --secondary: var(--tg-theme-secondary-bg-color, #3a3a3a);
        --secondary-foreground: var(--tg-theme-text-color, #cbd5e1);
        --muted: var(--tg-theme-hint-color, #4b5563);
        --muted: var(--tg-theme-hint-color, #f1f5f9);
        --muted-foreground: var(--tg-theme-text-color, #64748b);
        --accent: var(--tg-theme-accent-text-color, #f1f5f9);
        --destructive: var(--tg-theme-destructive-text-color, #ef4444);
        --destructive-foreground: var(--tg-theme-text-color, #ffffff);
        --border: var(--tg-theme-section-separator-color, #374151);
        --sm-shadow: rgba(0, 0, 0, 1) 0px 0px 4px 0px;
    }

    body {
        background: linear-gradient(35deg, #202034, #0b0b0e);
    }    

}
